<script src="tabs.js"></script>
<ul class="tab2">
  <section class="color-7">
    <nav class="cl-effect-4">
      <li class="select"><h3><%= link_to 'レシピ一覧', donuts_path %></h3></li>
      <li class="select"><h3><%= link_to 'お気に入り', myfavo_donuts_path %></h3></li>
      <li class="select"><h3><%= link_to 'レシピ編集', mydonut_donuts_path %></h3></li>
    </nav>
  </section>
</ul>