<script src="tabs.js"></script>
<ul class="tab2">
  <section class="color-7">
    <nav class="cl-effect-4">
      <li class="select"><h3><%= link_to 'フレンド', donuts_path %></h3></li>
      <li><h3><%= link_to 'ユーザー情報', myfavo_donuts_path %></h3></li>
      <li><h3><%= link_to '利用者一覧', mydonut_donuts_path %></h3></li>
    </nav>
  </section>
</ul>