var tabwin1;

function set(){
    var originTab1 = $("#tab1").clone(true)
    tabwin1 = document.getElementById("tab1")

    $(function() {

        /*リプライを見るボタンの処理*/
        $(".reply").click(function() {
            $(this).children(".rep").next().slideToggle();
        })

        /*ハートボタンの処理*/
        $(".heart").click(function() {
            var changeFav
            if($(this).children().eq(1).text() == 1){
                changeFav = ajaxDelete($(this).children().eq(4).text(), $(this).children().eq(2).text(), $(this).children().eq(3).text())
                changeFav.done(function(response){ console.log("delete_flag true done"); });
                changeFav.fail(function(response){ console.log("delete_flag true error"); });
                changeFav.always(function(response){ 
                    console.dir(response)
                    console.log("delete_flag true complete"); 
                });
                $(this).children().eq(0).text("[♡]")
                $(this).children().eq(1).text("0")
            } else if($(this).children().eq(1).text() == 0){
                url = $(this).children().eq(4)
                changeFav = ajaxPost(url.text(), $(this).children().eq(2).text(), $(this).children().eq(3).text())
                changeFav.done(function(response){ console.log("delete_flag false done"); });
                changeFav.fail(function(response){ console.log("delete_flag false error"); });
                changeFav.always(function(response){ 
                    console.log($(this))
                    parsedObj = JSON.parse(response)
                    console.log(parsedObj)
                    url.text("/lists/" + parsedObj.id)
                    console.log(url.text())
                    console.log("delete_flag false complete");
                 });
                $(this).children().eq(0).text("[♥︎]")
                $(this).children().eq(1).text("1")
            }
        })

        /*矢印(リプライ)ボタンの処理*/
        $(".arrow").click(function() {
            id = $(this).children()[1].innerText
            //キーボード操作などにより、オーバーレイが多重起動するのを防止する
            $(this).blur() ;    //ボタンからフォーカスを外す
            if($("#modal_overlay")[1]) return false ;       //新しくモーダルウィンドウを起動しない 

            //オーバーレイ用のHTMLコードを、[body]内の最後に生成する
            $("#contents").append('<div id="modal_overlay" id="genuine"></div>');
            $("#modal_overlay").fadeIn("slow");
            $("#modal_content").fadeIn("slow");
            centeringModalSyncer()
        })
        $("#modal_overlay,#modal_close").click(function(){
            $("#modal_content,#modal_overlay").fadeOut("slow",function(){
                $("#genuine").remove()
            })
        })


        /*ソート機能の処理*/
        $("#sort_menu").change(function(){

            // culumn no you select
            var key = $(this)[0].options.selectedIndex
            var idx = 0
            switch (key){
                case 0 ://公開順
                    location.href="/bulletin_boards"
                    return;
                case 1 ://ユーザ名順
                    sortSelector = $(".user_name_header")
                    idx = 1
                    break;
                case 2 ://期限順
                    sortSelector = $(".deadline_header")
                    idx = 3
                    break;                
            }
            // get number of line and columns of the table
            var tab1FoodsRow = $("#tab1 .foods_article").length;
            var tab1FreshRow = $("#tab1 .fresh_article").length;

            var no_column = 6

            // get all entries and keep values in tab1FoodsArray
            var tab1FoodsArr = [];
            var tab1FreshArr = [];

            // flag for value type "strings" or "number only"
            var flag = 1;  // 0:number only  1:strings
            var re = /\D/;

            for(var i = 0; i < tab1FoodsRow; i++){
                tab1FoodsArr[i] = [];
                for(var j = 0; j < no_column; j++){
                    tab1FoodsArr[i][j] = $(".foods_article").eq(i).children().eq(j).html();
                }
            }
            for(var i = 0; i < tab1FreshRow; i++){
                tab1FreshArr[i] = [];
                for(var j = 0; j < no_column; j++){
                    tab1FreshArr[i][j] = $(".fresh_article").eq(i).children().eq(j).html();
                }
            }

            // sort by the key you selected
            var rs1foods = tab1FoodsArr.sort( function(a,b){ return sortOption(a, b, idx); } )
            var rs1fresh = tab1FreshArr.sort( function(a,b){ return sortOption(a, b, idx); } )

            // insert tab1FoodsArranged values into table
            for(var i = 0;i < rs1foods.length; i++){
                for(var j = 0;j < rs1foods[i].length; j++){
                    $(".foods_article").eq(i).children().eq(j).html(rs1foods[i][j]);
                }
            }
            for(var i = 0 ;i < rs1fresh.length; i++){
                for(var j = 0;j < rs1fresh[i].length; j++){
                    $(".fresh_article").eq(i).children().eq(j).html(rs1fresh[i][j]);
                }
            } 
        });

    });

}


function sortOption(a, b, idx){
    if(a[idx] < b[idx]){
        return -1;
    } else if(a[idx] > b[idx]){
        return 1;
    } else {
        return 0;
    }
}

/*モーダルウィンドウを中央表示する
*/
function centeringModalSyncer(){

    //画面(ウィンドウ)の幅を取得し、変数[w]に格納
    var w = $(window).width();

    //画面(ウィンドウ)の高さを取得し、変数[h]に格納
    var h = $(window).height();

    //コンテンツ(#modal-content)の幅を取得し、変数[cw]に格納
    var cw = $("#modal-content").outerWidth({margin:true});

    //コンテンツ(#modal-content)の高さを取得し、変数[ch]に格納
    var ch = $("#modal-content").outerHeight({margin:true});

    //コンテンツ(#modal-content)を真ん中に配置するのに、左端から何ピクセル離せばいいか？を計算して、変数[pxleft]に格納
    var pxleft = ((w - cw)/2);

    //コンテンツ(#modal-content)を真ん中に配置するのに、上部から何ピクセル離せばいいか？を計算して、変数[pxtop]に格納
    var pxtop = ((h - ch)/2);

    //[#modal-content]のCSSに[left]の値(pxleft)を設定
    $("#modal-content").css({"left": pxleft + "px"});

    //[#modal-content]のCSSに[top]の値(pxtop)を設定
    $("#modal-content").css({"top": pxtop + "px"});

}

function ajaxDelete(reqUrl, fridge_id, current_user_id) {
    
    reqUrl = reqUrl.replace(".", "/")
    console.log(reqUrl)
    console.log(fridge_id)
    console.log(current_user_id)
    return $.ajax({
        type:'POST',
        data: {              
            "_method": "PATCH",
            "authenticity_token": $("#authenticity_token").val(),
            "refrigerator_id": fridge_id,
            "user_id": current_user_id, 
            "delete_flag": true
        },
        url:reqUrl,
        dataType: 'html'
    });
}

function ajaxPost(reqUrl, fridge_id, current_user_id) {
    var method = ""
    if(reqUrl.match(/\d+/)){
        reqUrl = reqUrl.replace(".", "/")
        method = "PATCH"
    } else {
        reqUrl += ".json"
        method = "POST"
    }
    console.log(reqUrl)
    console.log(fridge_id)
    console.log(current_user_id)
    return $.ajax({
        type:'POST',//既にlistのデータがある場合はpatchにしないと行けない
        data: {   
            "_method": method,
            "authenticity_token": $("#authenticity_token").val(),
            "refrigerator_id": fridge_id,
            "user_id": current_user_id, 
            "delete_flag": false
        },
        url:reqUrl,
        dataType: 'html'
    });
}
