@charset "UTF-8";

h1 {
  text-align: left;
}
main{
  margin: 0 auto;
}
div.tabbox { 
    margin: 0px auto;
    margin-top: 10px; 
    width:400px; 
    height:100%;
}
/* ▼ タブ部分のマージンとパディング領域を設定 */
p#tabs { margin: 0 ; padding: 0; }
p#tabs a {
   /* ▼ リンクをタブのように見せる */
   width: 100px; 
   float: left;
   margin: 0px 3px 0px 0px; 
   padding: 3px;
   text-align: center;
   font-size:12px;
}
/* ▼ タブごとの配色設定 */
p#tabs a.tab1 {
    text-decoration:none;
    background-color:#fafafa;
    border-top: 3px solid rgba(255, 191, 00, 0.85);  
    color: #666; 
    font-weight:600;
}
p#tabs a.tab2 {
    text-decoration:none; 
    background-color:#fafafa;
    border-top: 3px solid rgba(82, 223, 102, 0.85);  
    color: #666;
    font-weight:600;
}
p#tabs a.sort{
    text-decoration:none; 
    background-color:#fafafa;
    border-top: 3px solid rgba(116, 1, 223, 0.85);  
    color: #666;
    font-weight:600;
}
p#tabs a:hover {
    opacity:0.7;
    filter:alpha(opacity=70);
}


/* ▼ 各ボックスの配色設定 */
div#tab1 {
     margin: 10px auto; 
     border: 2px solid #ffbf00; 
     background-color: #ffbf00;
}
div#tab2 { 
    margin: 10px auto;
    border: 2px solid #52df66; 
    background-color: #52df66; 
}

div.tab p { margin: 0.5em; }

/*本文*/
p#article{
   font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

/*モーダルウィンドウ*/
#modal-content{
  display: none;
  color: #352166;
  width:50%;
  margin:1.5em auto 0;
  padding:10px 20px;
  border:2px solid #aaa;
  background:#fff;
  z-index:2;
}


#modal-content2 {
  width: 50% ;
  margin: 0 ;
  padding: 10px 20px ;
  border: 2px solid #aaa ;
  background: #fff ;
  position: absolute ;
  top: 0;
  left: 0;
  display: none ;
  z-index: 2 ;
}
  
#modal-overlay {
  z-index: 1 ;
  display: none ;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% ;
  height: 120% ;
  background-color: rgba( 0,0,0, 0.75 ) ;
}

.button-link {
  color: #00f ;
  text-decoration: underline ;
}
 
.button-link:hover {
  cursor: pointer ;
  color: #f00 ;
}

.setPosition {
  text-align: left;
  display: none ;
  z-index: 2 ;
}